/* .link {
  text-decoration: none;
  color: rgb(26, 26, 26);
} */

.link:hover {
  color: var(--primary-green);
}

.room-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
}

.room-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-image {
  height: 150px;
  object-fit: cover;
  width: 150px;
  border-radius: 50%;
}

.room-description {
  display: flex;
  max-width: 220px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: silver;
}

.room-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-social .icon {
  font-size: 20px;
  padding: 5px;
  margin: 3px;
  border: 1px solid gray;
  border-radius: 50%;
}
